.input_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--section-main);
    color: white;
  }
  .section{
    width: 100%;
    padding: 0.7rem;
    border-radius: 0.4rem;
    color: white;
    margin-top: 40px;    
  }
  .temp_section{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 0.4rem;
    margin-top: 30px;
    padding: 20px;
    background-color: var(--section-main); 
    color: white;
  }
  .input_search input{
    border: 0.8px solid white;
    border-radius: 0.4rem;
    background-color: transparent;
    color: white;
    padding: 0.5rem;
    font-size: 15px;
    font-weight: 300;
  }
  .input_section input:focus{
    outline: none;
    color: white;
  }
  .input_search button{
    padding: 8px 20px;
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    font-weight: 500;
    background-color: white; 
    margin-left: 10px;
  }
  .unit_btn{
    padding: 8px 20px;
    border: none;
    border-radius: 0.4rem;
    font-size: 15px;
    font-weight: 500;
    background-color: white; 
  }
  .btn:hover{
    cursor: pointer;
    background-color: lightgrey;
  }

  @media screen and (max-width: 440px) {
    .input_search{
      width: 100%;
    }
    .input_search input{
      font-size: 15px;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 180px;
    }
    .btn{
      margin: auto;
    }
    .input_section{
      display: flex;
      align-items: self-start;
    }
  }

  @media screen and (max-width: 400px) {
    .input_search input{
      width: 160px;
    }
    .btn{
      margin: auto;
    }
  }
  @media screen and (max-width: 360px) {
    .input_search input{
      width: 145px;
    }
  }